@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

html, body {
    margin: 0;
    color: #FFFFFF;
} 

a {
    color: #FFFFFF;
}

.intro-line {
    position: relative;
    z-index: 150;
    border-top: 1px solid #ededed;
    width: 1250px;
    margin: 0 auto 50px auto;
}

.container {
}

#social-list {
    text-align: center;
}

#social-list .nav-item {
    display: inline-block;
    zoom: 1;
    font-size: 6em;
    margin-left: 0.5em;
}

#social-list .nav-item:hover {
    color: #bdc3c7;
}

.head {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 300;
    padding-top: 70px;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    z-index: 150;
    margin-bottom: 70px;
    line-height: 60px;
}

h1.small {
    font-size: 70px;
    margin-bottom: 60px;
}